.pagename{
    text-align:center;
    text-decoration:underline;
    font-weight:bold;
}
.card{
    position:relative;
    margin:10px 0;
    height:100px;
    column-width:300px;
}
.bidlink{
    color:white;
}

.transferbtn{
    position:absolute;
    right:10px;
    bottom:10px;
}