.pagename {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}
.card {
  position: relative;
  margin: 10px 0;
  height: 130px;
  column-width: 300px;
}

.card p {
  color: white;
}
.bidlink {
  color: white;
}

.transferbtn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: #57a0d3 !important;
  border: 3px solid white;
  font-weight: bold;
}
.transferbtn:hover {
  background-color: #5888ae !important;
  border: 3px solid white !important;
}
