img{
    height:100%;
    width:100%;
}

.connectpage{
    position:relative;
}

.connectbox{
    position:fixed;
    right:280px;
    top:200px;
}

.arrow{
    position:absolute;
    right:70px;
    top:0;
    cursor:pointer;
}
.arrow:hover{
    color:grey;
}
.connectmsg{
    position:absolute;
    font-weight:bold;
    font-size:20px;
    top:100px;
    right:0;
    width:200px;
}