h5 {
  font-weight: 700;
}
.middle {
  margin: 20px;
}

.step {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 30px;
  position: relative;
  width: 300px;
}

.step p {
  font-size: 15px;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}
