.middle{
    margin:20px;
}

.steps {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
  }
  
  .step {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
    position:relative;
  }
  
  .step p {
    font-size: 18px;
  }
  
  .note {
    font-size: 15px;
    color: red;
    position: absolute;
    left:100px;
    width:auto;
    /* background-color:#D3D3D3; */
    border-radius:10px;
  }