.pagename {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
  }
  .card {
    position: relative;
    margin: 10px 0;
    height: 240px;
    column-width: 300px;
  }

  .card p{
    color:white;
  }
  
  .bidbtn {
      position:absolute;
      right:10px;
      background:#484954;
  }
  
  .bidlink {
    color: white;
  }
  .bidlink:hover {
    color: white;
  }
  