body{
  font-size:18px;
}

label {
  padding-right: 10px;
  font-size:18px;
}

input{
  width:100%;
  border-radius:10px;
}

.placebidpage{
  background:white;
}

.mainpage {
  /* display: grid; */
  /* grid-template-rows: 1fr 2fr 1fr; */
  border: solid;
  position: relative;
  height: 460px;
  margin: 30px;
  border-radius:10px;
}

.topbar {
  margin-top: 20px;
  /* display: grid; */
  /* grid-template-columns: 2fr 1fr 1fr; */
  margin-left:20px;
}

.domain{
  display:inline-block;
}

.nameinput {
  width: 50%;
}

.secretInt{
  width:50%;
}

.rentalprice {
  width: 50%;
}

.domainname {
  background-color: #d3d3d3;
  border-radius: 10px;
  text-decoration:underline;
}

.cancelbtn {
  color: black;
}
.cancelbtn:hover{
    color:black;
}

.regbtn {
  color: white;
}
.regbtn:hover{
    color:white;
}

.bottombtn {
  position: absolute;
  right: 10px;
  bottom: 20px;
}

.reqregisterbtn {
    margin-right:30px;
    text-decoration:underline;
    height:100px;
    width:200px;
    font-size:30px;
    border-radius:20px;
}

@media (max-width:995px){
  .mainpage{
    height:600px;
  }
}

@media (max-width:768px){
  .mainpage {
    height:850px;
  }
}