label {
  font-size: 25px;
  padding-right: 10px;
}


.input{
  font-size:25px;
}

.mainpage {
  /* display: grid; */
  /* grid-template-rows: 1fr 2fr 1fr; */
  border: solid;
  position: relative;
  height: 460px;
  margin: 30px;
  border-radius:10px;
}

.topbar {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin-left:20px;
}

.topbar p {
  font-size: 25px;
}

.domain{
  display:inline-block;
}

.nameinput {
  width: 60%;
}

.domainname {
  background-color: #d3d3d3;
  border-radius: 10px;
  text-decoration:underline;
}

.rentalprice {
  width: 60%;
}

.period {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr;
}

.cancelbtn {
  color: black;
}
.cancelbtn:hover{
    color:black;
}

.regbtn {
  color: white;
}
.regbtn:hover{
    color:white;
}

.bottombtn {
  position: absolute;
  right: 20px;
  bottom: 40px;
}

.reqregisterbtn {
    margin-right:30px;
    text-decoration:underline;
}