.mainpage{
    margin-top:50px; 
    border:solid;
    position:relative;
    left:275px;
    bottom:282px;
    height:auto;
    width:80%;
}

.topbar{
    margin-top:20px;
    display:grid;
    grid-template-columns:1fr 1fr 1fr ;
}

.registerbtn{
    width:50%;
    position:relative;
}


.bottombtn{
    position:relative;
    left: 900px;

}

.period{
    display:grid;
    grid-template-columns: 2fr 1fr 2fr 1fr;
    

}
.rentalperiod{
    text-align:center;
    position:relative;
    top:5px;
    right:10px;
}
/* .price{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;

} */

.periodprice{
    display:grid;
    grid-template-columns: 1fr 2fr;
}

.steps{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.plusminusbtn {
    width:70%;
    height:80%;
}

