.searchbar{
    width:500px;
}

.searchbtn{
    width:175px;
    margin-right:40px;
    margin-left:0;
}

.connectwallet{
    position:relative;
    width:200px;
    left:10px;
}

.brand{
    width:250px;
    height:auto;
}

.form{
    position:relative;
}

.dropdown{
    position:relative;
    left:50px;
}
