.navbar2{
    background: #0492C2;
}

.connectwallet{
    position:relative;
    width:200px;
    top:10px;
    left:40px;
}

.brand{
    width:250px;
    height:auto;
}

.brandarea{
    position:relative;
    right:100px;
}
.form{
    position:relative;
}

.dropdown{
    position:absolute;
    right:120px;
}

.successbtn{
    background-color: #30BFBF;
    border:none;
    pointer-events: none;
}
