.searchbar{
    width:500px;
}

.searchbtn{
    width:175px;
    margin-right:40px;
    margin-left:0;
    color:white;
    background-color: #30BFBF !important;
}

.searchbtn:hover{
    background-color: #008081 !important;
    color:white !important;

}

.result{
    position:absolute;
    top:80px;
    background:white;
    z-index:1;
    width:500px;
    border-radius:10px;
    padding-top:10px;
    padding-left:20px;
}