body {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background-color: white;
}

.toprow{
  position:relative;
}
.pagename {
  display:inline-block;
  position:relative;
  left:43%;
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}
.removefilter{
  position:absolute;
  right:20px;
}
.removefilter {
  position:absolute;
  top:2px;
  right:50px;
  background-color: #57a0d3 !important;
  border: 3px solid black;
  font-weight: bold;
}
.removefilter:hover {
  background-color: #5888ae !important;
  border: 3px solid black !important;
}
.card {
  position: relative;
  margin: 10px 0;
  height: 320px;
  column-width: 600px;
}

.card p {
  color: white;
}

p span {
  position: absolute;
  right: 10px;
}

.buttons {
  margin-top: 30px;
}
.bidbtn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: #57a0d3 !important;
  border: 3px solid white;
  font-weight: bold;
}
.bidbtn:hover {
  background-color: #5888ae !important;
  border: 3px solid white !important;
}

.bidlink {
  color: white;
}
.bidlink:hover {
  color: white;
}
.btmbutton {
  background: #484954;
}

